<h2>{{title}}</h2>
<p>Welcome to {{title}}</p>

<ul >
  {{#contacts}}
    <li>
        <h2>{{ title }} {{firstname}} {{lastname}}</h2>
        <p>{{company}}</p>
        <p>{{jobtitle}}</p>
        <p>{{primarycontactnumber}}</p>

    </li>
  {{/contacts}}
</ul>
